*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #fafafa;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: .7rem;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-wrapper > div{
    padding: 0 10px;
}

@media (max-width: 880px){
    .phone-img{
        display: none;
    }
}

.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 15px;
    padding: 15px 0;
}

@media (max-width: 450px){

    .group{
        border: none;
        background: none;
    }
}

.logo{
    width: 175px;
}

.photo-perfil{
    border-radius: 100%;
    width: 102px;
    padding: 15px 0;
}

.continue{
    color: white;
    background: #2d8ef9;
    padding: 3px 20px;
    border-radius: 3px;
    font-weight: 600;
    margin-bottom: 20px;
}

.insta-link{
    color: #2d8ef9;
    font-weight: 700;
}

.download-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}